@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Heebo', sans-serif;
    background-color: gray;
}

*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    display: flex;
}

.cabecalho__logo{
    width: 5em;
    padding: 1em 0.3em;
}

.cabecalho__menu{
    position: relative;
    justify-self: flex-end;
}

.menu__hamburger{
    display:block;
    background: #FFFFFF;
    width: 35px;
    height: 4px;
    border-radius: 5px;
    margin: 3.5em 0 0 14.5em;
       
}
    
.menu__hamburger:before, .menu__hamburger:after{
    display:block;
    position: absolute;
    background: #FFFFFF;
    width: 25px;
    height: 4px;
    border-radius: 5px;
    
}

.menu__hamburger:before{
    content: '';
    margin: -10px 0 0 10px;
}

.menu__hamburger:after{
    content: '';
    margin: 10px 0 0 10px;
}
