:root{
    --clientes-font: 'Inter', sans-serif;
    --logo-font: 'Kufam', sans-serif;
    --principal-font: 'Poppins', sans-serif;
    --laranja-principal: #ED930D;
    --vermelho-botao: #F05656;
    --cor-preta: #000;
    --cor-branca: #fff;
    --glass-navbar: rgba(255, 255, 255, 0.8);
    --glass-navbar-hover: rgba(255, 255, 255, 0.9);
    --cor-preço: #60DD65;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--cor-branca);
}

header{
    height: 70px;
    display: flex;   
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: 'Kufam';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    margin-left: 25px;
}

.menu{
    margin-bottom: 8.8px;
    z-index: 1;
}

.menu__hamburger{
    margin: 3px 25px 0 0;
}

.barra--cima,
.barra--meio,
.barra--baixo{
    background-color: var(--cor-preta);
    height: 3px;
    width: 27px;
    transition: 0.5s ease-in-out;
}


.nav-bar{
    position: absolute;
    transform: translateX(65vw);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    transition: 0.5s ease;
}

.nav-bar.show{
    transform: translateX(20vw);
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-menu{
    width: 65vw;
    height: 350px;
    background: var(--glass-navbar);
    border-radius: 10px 0 0 10px ;
}


nav .nav-menu .item{
    position: relative;
    cursor: pointer;
}

nav .nav-menu .item a{
    color: #003049;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}

nav .nav-menu .item a:hover{
    background-color: var(--glass-navbar-hover);
    border-radius: 10px;
}

nav .nav-menu .item i{
    margin-right: 15px;
}

.container{
    font-family: var(--principal-font);
    text-align: center;
}

.container__encontre{
    width: 296px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encontre--text{
    margin: 40px 0 43px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 45.35px;
    width: 270px;
}

.encontre--casa-pic{
    width: 250px;
}

.encontre--btn{
    display: inline-block;
    margin-bottom: 43px;
    font-size: 18px;
    font-weight: 600;
    color: var(--cor-branca);
    text-decoration: none;
    line-height: 22.14px;
    padding: 5px;
    background-color: var(--laranja-principal);
    width: 136px;
    height: 54px;
    border-radius: 10px;
}

.encontre--partners{
    display: flex;
    align-items: center;  
    
}

.moving-logos-wrapper{
    max-width: 800px;
    overflow: hidden;
    margin: 50px 0 20px 0;
}

.moving-logos-inner{
    background: url("../img/moving-logos.png") 0/contain repeat-x;
    height: 100px;
    width: 6000px;
    -webkit-animation: moving-logos 40s linear infinite;
    animation: moving-logos 40s linear infinite;
    filter: contrast(0);

}

@keyframes moving-logos{
    0%{
        -webkit-transform: translateZ(0);
        transform: translateZ(0);

    }
    100%{
        -webkit-transform: translate3d(-1500px, 0, 0);
        transform: translate3d(-1500px, 0, 0);
        
    }
}

.black-container{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-preta);
    text-align: center;
    align-items: center;
    margin: 0 auto;
    height: 870px;
    width: 100vw;
}

.black-container--img{
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 315px;
}

.black-container--txt{
    z-index: 2;
    margin-top: 22px;
    color: var(--cor-branca);
    font-size: 40px;
    font-weight: 700;
    line-height: 45.35px;
    width: 270px;
}

.black-container--options{
    margin-top: 270px;
    z-index: 2;
    background-color: var(--cor-branca);
    width: 176px;
    height: 105px;
}

.black-container--options h3{
    font-size: 55px;
    font-weight: 600;
}

.black-container--options p{
    margin-top: -10px;
    font-size: 16px;
    font-weight: 600;
}

.botao-link{
    margin-top: 33px;
    z-index: 2;
    background-color: var(--vermelho-botao);
    font-size: 32px;
    font-weight: 600;
    color: var(--cor-branca);
    text-decoration: none;
    width: 270px;
    height: 83px;
    padding: 20px;
}

.container-projects{
    text-align: center;
}

.projects-txt{
    margin: 37px 0 45px 0;
    color: var(--cor-preta);
    font-size: 35px;
    font-weight: 700;
    line-height: 45.35px;
    
}

.projects{
    margin: 10px 0 33px 0;
    border: 1px solid var(--cor-preta);
    width: 100%;
}

.projects-img{
    padding-top: 30px;
    float: left;
    width: 70px;
    margin: 7px 10px;
}

.projects-title{
    padding-top: 30px;
    margin-top: 10px;
    text-align: left;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px
}

.projects-price{
    text-align: left;
    font-size: 33px;
    font-weight: 500;
    color: var(--cor-preço);
}

.projects-subtitle{
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}

.opnions-container{
    background-color: var(--cor-preta);
    color: var(--cor-branca);
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
    height: 600px;
}

.opnions{
    width: 100%;
    display: flex;
    justify-content: center;
}

.opnion{
    position: absolute;
    text-align: left;
    width: 250px;
    margin: 0 auto;
}

.dois{
    margin-left: 624px;
}

.fa-circle-chevron-left{
    font-size: 43px;
    background-color: var(--cor-branca); 
    border-radius: 50%;
    margin-right: 25px;
    color: var(--vermelho-botao);
}

.fa-circle-chevron-right{
    font-size: 43px;
    background-color: var(--cor-branca); 
    border-radius: 50%;
    margin-left: 25px;
    color: var(--vermelho-botao);
}

.customer-name{
    margin-top: 10px;
    font-size: 28px;
    font-weight: 600;
}

.customer-profission{
    margin-bottom: 20px;
    font-size: 20px;
}
.opnions--txt{
    color: var(--cor-branca);
    font-size: 43px;
    font-weight: 700;
    line-height: 45.35px;
    width: 270px;
    margin: 0 0 20px 56px;
}


